* {
  box-sizing: border-box;
  font-family: inherit;
  color: inherit;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-image: url("https://countryquiz-app.netlify.app/static/media/background.41dbc550.png");
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}